In [ ]:
## define set
## define empty 
## show how list can convert into set
## show how it return unique value
## add
##update
## remove
## pop
## discard
## difference_update

## length
## sum
## min , max
## Union
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

## clean

In [1]:
### define a set

s = {1,2,3,4,"Prashant", 56+12j, 78.98}

In [2]:
type(s)

set

In [3]:
s

{(56+12j), 1, 2, 3, 4, 78.98, 'Prashant'}

In [4]:
## define a empty set 

s1 ={}

In [5]:
type(s1)

dict

In [6]:
s1 = set({})

In [7]:
type(s1)

set

In [8]:
l = [1,1,1,1,2,2,2,2,3,3,3,67,45,67,45]

## remove the duplicate elements from the given list

In [9]:
set(l)

{1, 2, 3, 45, 67}

In [10]:
s3 = {1,1,1,1,2,2,2,2,3,3,3,67,45,67,45}

In [11]:
s3

{1, 2, 3, 45, 67}

In [12]:
s

{(56+12j), 1, 2, 3, 4, 78.98, 'Prashant'}

In [13]:
## "Python"

s.add("Python")

In [14]:
s

{(56+12j), 1, 2, 3, 4, 78.98, 'Prashant', 'Python'}

In [15]:
### Sql and Power bi 

s.add("sql", "Power Bi")

TypeError: set.add() takes exactly one argument (2 given)

In [17]:
s.update("sql", "Power Bi")

In [18]:
s

{' ',
 (56+12j),
 1,
 2,
 3,
 4,
 78.98,
 'B',
 'P',
 'Prashant',
 'Python',
 'e',
 'i',
 'l',
 'o',
 'q',
 'r',
 's',
 'w'}

In [19]:
s = {1,2,3,4,"Prashant", 56+12j, 78.98}

In [20]:
s

{(56+12j), 1, 2, 3, 4, 78.98, 'Prashant'}

In [21]:
new_value = ("sql", "Power Bi")

s.update(new_value)

In [22]:
s

{(56+12j), 1, 2, 3, 4, 78.98, 'Power Bi', 'Prashant', 'sql'}

In [23]:
##
l =[1,2,3,45,67,89,"Python", "SQL"]

s.update(l)

In [24]:
s

{(56+12j),
 1,
 2,
 3,
 4,
 45,
 67,
 78.98,
 89,
 'Power Bi',
 'Prashant',
 'Python',
 'SQL',
 'sql'}

In [25]:
l2 = list(s)

In [26]:
l2

[1,
 2,
 3,
 4,
 'sql',
 67,
 78.98,
 'Prashant',
 'SQL',
 89,
 (56+12j),
 'Power Bi',
 45,
 'Python']

In [27]:
s = set(l2)

In [28]:
s

{(56+12j),
 1,
 2,
 3,
 4,
 45,
 67,
 78.98,
 89,
 'Power Bi',
 'Prashant',
 'Python',
 'SQL',
 'sql'}

In [29]:
s[0]

TypeError: 'set' object is not subscriptable

In [30]:
## remove
## pop
## discard
## update_element

s

{(56+12j),
 1,
 2,
 3,
 4,
 45,
 67,
 78.98,
 89,
 'Power Bi',
 'Prashant',
 'Python',
 'SQL',
 'sql'}

In [31]:
s.pop()

1

In [32]:
s.pop()

2

In [33]:
s.remove('sql')

In [34]:
s

{(56+12j), 3, 4, 45, 67, 78.98, 89, 'Power Bi', 'Prashant', 'Python', 'SQL'}

In [35]:
s.discard("Prashant")

In [36]:
s

{(56+12j), 3, 4, 45, 67, 78.98, 89, 'Power Bi', 'Python', 'SQL'}

In [37]:
## 1000

s.remove(1000)

KeyError: 1000

In [39]:
s.discard(1000)

In [40]:
s

{(56+12j), 3, 4, 45, 67, 78.98, 89, 'Power Bi', 'Python', 'SQL'}

In [42]:
### 4, 45,67

s.difference_update([4,45,67])

In [43]:
s

{(56+12j), 3, 78.98, 89, 'Power Bi', 'Python', 'SQL'}

In [ ]:
## length
## sum
## min , max
## Union
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

## clean

In [44]:
s

{(56+12j), 3, 78.98, 89, 'Power Bi', 'Python', 'SQL'}

In [ ]:
s.clear() ## it will remove all the elements from the given set

In [47]:
s

set()

In [48]:
## length

s = {1,2,3,4,5,7,7,8,8}  ## total elements are 9 

len(s)

7

In [49]:
s = {1,1,1,1}

len(s)

1

In [62]:
s1 = {1,2,3,4,5}

In [63]:
len(s1)

5

In [64]:
sum(s1)

15

In [65]:
max(s1)

5

In [66]:
min(s1)

1

In [ ]:
### set math operation 

## Union
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

In [72]:
## union

a = {1,2,3}
b ={4,5,6,"PRASHANT"}

In [73]:
c =a|b

In [76]:
b

{4, 5, 6, 'PRASHANT'}

In [69]:
a.update(b)

In [70]:
a

{1, 2, 3, 4, 5, 6, 'PRASHANT'}

In [85]:
## Intersection

a = {1,2,3,4}
b ={4,5,6,"PRASHANT"}
c= {56,"PRASHANT",4}
a&b&c

{4}

In [86]:
b&a&c

{4}

In [87]:
b&c

{4, 'PRASHANT'}

In [ ]:
## difference


a = {1,2,3,4}
b ={4,5,6,"PRASHANT"}

In [ ]:
a-b  ### a -- 1,2,3   ;    b ----  5,6,"PRASHANT"

{1, 2, 3}

In [90]:
b-a

{5, 6, 'PRASHANT'}

In [91]:
## symmetric difference

a^b

{1, 2, 3, 5, 6, 'PRASHANT'}

In [92]:
b^a

{1, 2, 3, 5, 6, 'PRASHANT'}

In [93]:
## subset 

#A set is called subset when all elements of A conside with B

In [109]:
a = {"Python","SQL", "ML", 67 ,56}

b = {"Python","SQL",'ML',67 ,56,45,78,99,100}

In [110]:
a.issubset(b)

True

In [111]:
b.issubset(a)

False

In [112]:
### superset

a = {"Python","SQL", "ML", 67 ,56}

b = {"Python","SQL",'ML',67 ,56,45,78,99,100}

In [113]:
a.issuperset(b)

False

In [114]:
b.issuperset(a)

True

In [123]:
a = {"Python","SQL", "ML", 67 ,56}

b = {"Python","SQL",'ML',67 ,56,100}

In [124]:
a.issubset(b)

True

In [125]:
b.issubset(a)

False

In [126]:
a.issuperset(b)

False

In [127]:
b.issuperset(a)

True

In [128]:
## Disjoin

a

{56, 67, 'ML', 'Python', 'SQL'}

In [129]:
b

{100, 56, 67, 'ML', 'Python', 'SQL'}

In [130]:
a.isdisjoint(b)

False

In [134]:
a = {1,2,3,4,5}

b = {"Python","SQL",'ML',67 ,56,100,1}

In [135]:
a.isdisjoint(b)

False

In [136]:
b.isdisjoint(a)

False

In [ ]:
### ui ====some data 

## API ==== SOME DATA 

UI --- SET ### Subset

API --- SET ### subset