In [ ]:
## define set
## define empty 
## show how list can convert into set
## show how it return unique value
## add
##update
## remove
## pop
## discard
## difference_update

## length
## sum
## min , max
## Union
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

## clean

In [2]:
## define a set 

s = {1,2,3,4,5,"Prashant"}

In [3]:
type(s)

set

In [4]:
## define a empty set 

s1 = {}
type(s1)

dict

In [5]:
s1 = set({})

type(s1)

set

In [19]:
## define hetrogenious set 

s = {45,78.56, 45,"Prashant" , 56+12j}

In [7]:
s

{(56+12j), 45, 78.56, 'Prashant'}

In [8]:
### unique vaue check of set 


s2 ={1,2,1,2,1,2,1,2,3,3,3,4,4,4,5,5,6}

In [9]:
s2

{1, 2, 3, 4, 5, 6}

In [10]:
s

{(56+12j), 45, 78.56, 'Prashant'}

In [20]:
s.add("Python")

In [12]:
s

{(56+12j), 45, 78.56, 'Prashant', 'Python'}

In [ ]:
## ADD "sql" and "Power bi" in the given set

s.add("SQL", "POWER BI")

TypeError: set.add() takes exactly one argument (2 given)

In [14]:
s.update("SQL", "POWER BI")

In [15]:
s

{' ',
 (56+12j),
 45,
 78.56,
 'B',
 'E',
 'I',
 'L',
 'O',
 'P',
 'Prashant',
 'Python',
 'Q',
 'R',
 'S',
 'W'}

In [21]:
l = ("SQL", "POWER BI")

In [22]:
s.update(l)

In [23]:
s

{(56+12j), 45, 78.56, 'POWER BI', 'Prashant', 'Python', 'SQL'}

In [25]:
## show how list can convert into set

## remove the duplicate from the given list 

l =[ 1,1,1,1,2,2,2,2,3,3,3,56,56, "Prashant","Prashant"]

In [26]:
l

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 56, 56, 'Prashant', 'Prashant']

In [30]:
l = list(set(l))

In [31]:
type(l)

list

In [32]:
l

[1, 2, 3, 56, 'Prashant']

In [33]:
## remove
## pop
## discard
## difference_update

s

{(56+12j), 45, 78.56, 'POWER BI', 'Prashant', 'Python', 'SQL'}

In [34]:
s.pop()

'POWER BI'

In [35]:
s.pop()

'Prashant'

In [36]:
s.pop()

45

In [37]:
s.remove('Python')

In [38]:
s

{(56+12j), 78.56, 'SQL'}

In [39]:
s.discard(1000)

In [40]:
s.discard('SQL')

In [42]:
s

{(56+12j), 78.56}

In [43]:
s.remove(1000)

KeyError: 1000

In [44]:
## difference_update

s = {(56+12j), 45, 78.56, 'POWER BI', 'Prashant', 'Python', 'SQL'}

In [45]:
s

{(56+12j), 45, 78.56, 'POWER BI', 'Prashant', 'Python', 'SQL'}

In [46]:
### more than one elements from the set use difference_update

l = ['POWER BI', 'SQL' ]

In [47]:
s.difference_update(l)

In [48]:
s

{(56+12j), 45, 78.56, 'Prashant', 'Python'}

In [ ]:
## length
## sum
## min , max
## Union
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

## clean

In [ ]:
### clear

s.clear()

In [52]:
s

set()

In [53]:
## length 

s = {1,2,45,45,"Prashant" , 56+12j,34.89}

In [54]:
s

{(56+12j), 1, 2, 34.89, 45, 'Prashant'}

In [55]:
## what is the length of the set

len(s)

6

In [57]:
s = {1,2,45,45,34.89}
sum(s)

82.89

In [58]:
s = {1,1,1,2}
sum(s)

3

In [60]:
s1 = {45,100, 2, 1000,1000, 567, 437}

max(s1)

1000

In [61]:
min(s1)

2

In [65]:
## union

a = {1,2,3}

b = {4,5,6}

a|b

{1, 2, 3, 4, 5, 6}

In [63]:
a.update(b)

In [64]:
a

{1, 2, 3, 4, 5, 6}

In [66]:
a

{1, 2, 3}

In [ ]:
## Intersection
## difference
## symmetric difference
## subset
## superset
## Disjoin

In [ ]:
#difference

a = {1,2,3,4,5,6}   ## a -- 1,2,3,4,5,6   ;   b --- 4,5,6
b ={4,5,6}

a-b

{1, 2, 3}

In [70]:
b-a

set()

In [79]:
## symmetric difference

a = {1,2,3,100, 4,5,6}  ## a --  1,2,3, ;   b --  
b = {4,5,6,100}

a^b

{1, 2, 3}

In [80]:
b^a

{1, 2, 3}

In [ ]:
## subset
## superset
## Disjoin

In [82]:
### subset
## set A can be subset of B if all the elements of A coinside with B

a = {4,5,6}

b ={1,2,3,4,5,6}

a.issubset(b)

True

In [83]:
b.issubset(a)

False

In [84]:
b.issuperset(a)

True

In [85]:
a = {1,2,3}
b = {1,2,3}

a.issubset(b)

True

In [86]:
b.issubset(a)

True

In [87]:
b.issuperset(a)

True

In [88]:
a.issuperset(b)

True

In [98]:
## Disjoin

a = {1,2,3}

b ={4,5,6}

In [99]:
a.isdisjoint(b)

True

In [100]:
b.isdisjoint(a)

True