In [ ]:
for varibale in iterables:  ## iterables - list , set , tuple , str , dict
    ### execute the code

In [1]:
l = [ 1,2,3,4,5,6]

for var in l:
    print(var)

1
2
3
4
5
6

In [2]:
### tuple 

t  = ("Prashant" , "DL",1,78,45,56,89)
type(t)

tuple

In [ ]:
for i in t:    ### t -->  iterables 
    print(i)

Prashant
DL
1
78
45
56
89

In [4]:
## string 

a = "Prashant"
 
for i in a:
     print(i)

P
r
a
s
h
a
n
t

In [5]:
## set

s = {1,2,3,4,5,6,"Prashant", "Python"}

for j in s:
    print(j)

1
2
3
4
5
6
Python
Prashant

In [6]:
## dict 

d = {"Name":"Prashant", "Age":25, "Skill":"Python", "number":[1,2,3,4,5,6]}

In [7]:
d

{'Name': 'Prashant',
 'Age': 25,
 'Skill': 'Python',
 'number': [1, 2, 3, 4, 5, 6]}

In [8]:
for i in d.keys():
    print(i)

Name
Age
Skill
number

In [14]:
for i , j in d.items():
    print(f"{i }**** {j}")

Name**** Prashant
Age**** 25
Skill**** Python
number**** [1, 2, 3, 4, 5, 6]

In [ ]:
for i in d.keys():  ## Name , Age , Skill , number
    print(d[i])

Prashant
25
Python
[1, 2, 3, 4, 5, 6]

In [17]:
d["Name"]

'Prashant'

In [20]:
### range of number using for loop 

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [26]:
## define the range with lower and upper range 

for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
## create range from 1 to 20 

for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [28]:
## create a range from 1 to 20 with skip of 2

for i in range (1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [32]:
## find all the even number b/w 1 to 20


for i in range (1, 21):
    
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [57]:
l = ["Apple","Banana", "Guava", "Orange"]

for i in l :
    if i =="Guava":
        index =  l.index(i)
        l[index] = "Plam"

In [58]:
l

['Apple', 'Banana', 'Plam', 'Orange']

In [51]:
l.index("Guava")

2

In [49]:
l

['Apple', 'Banana', 'Plam', 'Orange']

In [62]:
## given range is 1 to 100 

##list out even number and odd number in seperate list and make dictionary out of that 

even_list = []
odd_list = []

for i in range (1 , 30):
    
    if i % 2 ==0 :
        even_list.append(i)
    else:
        odd_list.append(i)
        
list_number = {
    
    "even_number" : even_list, 
    
    "odd_number" :odd_list
}

In [63]:
list_number

{'even_number': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 'odd_number': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]}

In [73]:
### return index and list of elements 

even_list


for i , j in enumerate(even_list):
    print(f"index is {i} and vlaue is {j}")

index is 0 and vlaue is 2
index is 1 and vlaue is 4
index is 2 and vlaue is 6
index is 3 and vlaue is 8
index is 4 and vlaue is 10
index is 5 and vlaue is 12
index is 6 and vlaue is 14
index is 7 and vlaue is 16
index is 8 and vlaue is 18
index is 9 and vlaue is 20
index is 10 and vlaue is 22
index is 11 and vlaue is 24
index is 12 and vlaue is 26
index is 13 and vlaue is 28

In [75]:
### find out the number whoes unit place is 5 from the range of 1 to 50 

for i in range (1, 51):
    
    if i %10 == 3:
        print(i)

3
13
23
33
43

In [4]:
## write table of 5 

user_input  = int(input("enter the number to make table = "))

print( f"This is the table of {user_input}")

for i in range(1,11):
    #print(f"table of 5 is")
    print(f"{user_input}*{i} = {user_input*i}")

This is the table of 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60

In [7]:
### write a python code to return table from 1 to 20 

for i in range (1,21):
    print(f" This is the table of {i}")
    
    for j in range (1,11):
        print(f"{i}*{j} = {i*j}")
    print("**************")

 This is the table of 1
1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10
**************
 This is the table of 2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
**************
 This is the table of 3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
**************
 This is the table of 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
**************
 This is the table of 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50
**************
 This is the table of 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60
**************
 This is the table of 7
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70
**************
 This is the table of 8
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80
**************
 This is the table of 9
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90
**************
 This is the table of 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100
**************
 This is the table of 11
11*1 = 11
11*2 = 22
11*3 = 33
11*4 = 44
11*5 = 55
11*6 = 66
11*7 = 77
11*8 = 88
11*9 = 99
11*10 = 110
**************
 This is the table of 12
12*1 = 12
12*2 = 24
12*3 = 36
12*4 = 48
12*5 = 60
12*6 = 72
12*7 = 84
12*8 = 96
12*9 = 108
12*10 = 120
**************
 This is the table of 13
13*1 = 13
13*2 = 26
13*3 = 39
13*4 = 52
13*5 = 65
13*6 = 78
13*7 = 91
13*8 = 104
13*9 = 117
13*10 = 130
**************
 This is the table of 14
14*1 = 14
14*2 = 28
14*3 = 42
14*4 = 56
14*5 = 70
14*6 = 84
14*7 = 98
14*8 = 112
14*9 = 126
14*10 = 140
**************
 This is the table of 15
15*1 = 15
15*2 = 30
15*3 = 45
15*4 = 60
15*5 = 75
15*6 = 90
15*7 = 105
15*8 = 120
15*9 = 135
15*10 = 150
**************
 This is the table of 16
16*1 = 16
16*2 = 32
16*3 = 48
16*4 = 64
16*5 = 80
16*6 = 96
16*7 = 112
16*8 = 128
16*9 = 144
16*10 = 160
**************
 This is the table of 17
17*1 = 17
17*2 = 34
17*3 = 51
17*4 = 68
17*5 = 85
17*6 = 102
17*7 = 119
17*8 = 136
17*9 = 153
17*10 = 170
**************
 This is the table of 18
18*1 = 18
18*2 = 36
18*3 = 54
18*4 = 72
18*5 = 90
18*6 = 108
18*7 = 126
18*8 = 144
18*9 = 162
18*10 = 180
**************
 This is the table of 19
19*1 = 19
19*2 = 38
19*3 = 57
19*4 = 76
19*5 = 95
19*6 = 114
19*7 = 133
19*8 = 152
19*9 = 171
19*10 = 190
**************
 This is the table of 20
20*1 = 20
20*2 = 40
20*3 = 60
20*4 = 80
20*5 = 100
20*6 = 120
20*7 = 140
20*8 = 160
20*9 = 180
20*10 = 200
**************