In [ ]:
for varibale in iterables:  ## iterables - list , set , tuple , str , dict
    ### execute the code

In [1]:
l = [ 1,2,3,4,5,6]

for var in l:
    print(var)

1
2
3
4
5
6

In [2]:
### tuple 

t  = ("Prashant" , "DL",1,78,45,56,89)
type(t)

tuple

In [ ]:
for i in t:    ### t -->  iterables 
    print(i)

Prashant
DL
1
78
45
56
89

In [4]:
## string 

a = "Prashant"
 
for i in a:
     print(i)

P
r
a
s
h
a
n
t

In [5]:
## set

s = {1,2,3,4,5,6,"Prashant", "Python"}

for j in s:
    print(j)

1
2
3
4
5
6
Python
Prashant

In [6]:
## dict 

d = {"Name":"Prashant", "Age":25, "Skill":"Python", "number":[1,2,3,4,5,6]}

In [7]:
d

{'Name': 'Prashant',
 'Age': 25,
 'Skill': 'Python',
 'number': [1, 2, 3, 4, 5, 6]}

In [8]:
for i in d.keys():
    print(i)

Name
Age
Skill
number

In [14]:
for i , j in d.items():
    print(f"{i }**** {j}")

Name**** Prashant
Age**** 25
Skill**** Python
number**** [1, 2, 3, 4, 5, 6]

In [ ]:
for i in d.keys():  ## Name , Age , Skill , number
    print(d[i])

Prashant
25
Python
[1, 2, 3, 4, 5, 6]

In [17]:
d["Name"]

'Prashant'

In [20]:
### range of number using for loop 

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [26]:
## define the range with lower and upper range 

for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
## create range from 1 to 20 

for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [28]:
## create a range from 1 to 20 with skip of 2

for i in range (1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [32]:
## find all the even number b/w 1 to 20


for i in range (1, 21):
    
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [57]:
l = ["Apple","Banana", "Guava", "Orange"]

for i in l :
    if i =="Guava":
        index =  l.index(i)
        l[index] = "Plam"

In [58]:
l

['Apple', 'Banana', 'Plam', 'Orange']

In [51]:
l.index("Guava")

2

In [49]:
l

['Apple', 'Banana', 'Plam', 'Orange']

In [62]:
## given range is 1 to 100 

##list out even number and odd number in seperate list and make dictionary out of that 

even_list = []
odd_list = []

for i in range (1 , 30):
    
    if i % 2 ==0 :
        even_list.append(i)
    else:
        odd_list.append(i)
        
list_number = {
    
    "even_number" : even_list, 
    
    "odd_number" :odd_list
}

In [63]:
list_number

{'even_number': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 'odd_number': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]}

In [73]:
### return index and list of elements 

even_list


for i , j in enumerate(even_list):
    print(f"index is {i} and vlaue is {j}")

index is 0 and vlaue is 2
index is 1 and vlaue is 4
index is 2 and vlaue is 6
index is 3 and vlaue is 8
index is 4 and vlaue is 10
index is 5 and vlaue is 12
index is 6 and vlaue is 14
index is 7 and vlaue is 16
index is 8 and vlaue is 18
index is 9 and vlaue is 20
index is 10 and vlaue is 22
index is 11 and vlaue is 24
index is 12 and vlaue is 26
index is 13 and vlaue is 28

In [75]:
### find out the number whoes unit place is 5 from the range of 1 to 50 

for i in range (1, 51):
    
    if i %10 == 3:
        print(i)

3
13
23
33
43