## List comprehension
List comprehension is the short and clean way to create list in the python by loop instant of writing multiple line of loop code. 
#### When to use it 
1. You want to create a new list using loop
2.  based on the existing list or iterable
3. with or without condition.
### In simple words
"It create a list in a single line instand of using for loop multipel line.
### Advantage of list comprehension 
1. Less code(clean and readable)
2. Faster than traditional loops
3. Easy to maintain
4. Avoid unnecessary variables

In [ ]:
## general expression of list comprehension
## without condition

new_list = [expression for item in iterable]

## with condition 

new_list = [expression for item in iterable if condition]

In [3]:
## example 1
## find the square of the given number in the list
numbers = [1,2,3,4,5,6]
new_list = []
for item in numbers:
   result = item*item
   new_list.append(result)
   
print(new_list)

[1, 4, 9, 16, 25, 36]

In [2]:
## using list comprehension
# new_list = [expression for item in iterable]
numbers = [1,2,3,4,5,6]

square_number = [ item*item  for item in numbers]

print(square_number)

[1, 4, 9, 16, 25, 36]

In [ ]:
## example 2
## with condition 
## filter out only even number from the given range from 1 to 20 
## new_list = [expression for item in iterable if condition]

even_number = [ i for i in range(1,21) if i%2==0 ]

print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# example 3
## get name longer than and equal to 4 character 

names = ["Alice", "Bob", "Charlie", "Dave", "Eve"]

filtered_name = [ name for name in names  if len(name)>=4]

print(filtered_name)

['Alice', 'Charlie', 'Dave']

In [9]:
# example 4
# Convert to uppercase and remove vowels and write * 
words = ["hello", "world", "python","Prashant"]
vowel = 'AEIOU'

## expacted output - H*LL* , W*RLD , PYTH*N , PR*SH*NT

filtered_output = ["".join( "*" if char in vowel  else char for char in word.upper())for word in words ]

print(filtered_output)

['H*LL*', 'W*RLD', 'PYTH*N', 'PR*SH*NT']

In [ ]:
##  example 5
# Extract digits from strings
mixed = ["abc123", "def456", "ghi789"]

digits = [ "".join(char for char in s if char.isdigit())  for s in mixed]

print(digits)

['123', '456', '789']

In [11]:
## example 6
#  Flatten a 2D matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## expacted_ouput = [1,2,3,4,5,6,7,8,9]

flatten_list = [j for s in matrix for j in s]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = ["".join(str(j) for j in s if j !=" ")   for s in matrix ]
print(flatten_list)

['123', '456', '789']

In [18]:
## example 7
##you have a list of product prices and want prices after GST 18%
prices = [100, 200, 300]

price_with_gst = [price*1.18 for price in prices ]

print(price_with_gst)

[118.0, 236.0, 354.0]

In [35]:
## example 8
#Create a 2×2 matrix

two_matrix  = [ [i for i in range(0,2)] for j in range(0,2)]
print(two_matrix)

[[0, 1], [0, 1]]

In [39]:
## example 9
## for even number write even and for odd number write odd
numbers = [1, 2, 3, 4, 5]

new_list = [ "even" if i%2==0  else "odd"  for i in numbers]

print(new_list)

['odd', 'even', 'odd', 'even', 'odd']

In [40]:
## example 10 
## Remove empty values from data
data = ["python", "", "ai", None, "ml"]

clean_data = [ d for d in data if d]

print(clean_data)

['python', 'ai', 'ml']

In [43]:
d =None
if d:
    print('good')
else:
    print('bad')

bad

## Dictionary Comprehension

2️⃣ What is Dictionary Comprehension?

Dictionary comprehension is a one-line method to create dictionaries using:

Key-value pairs

Loop

Optional condition

In simple words:

“Create a dictionary dynamically in one line”

3️⃣ Advantages of Comprehensions
✅ Advantages of List & Dict Comprehension

Less code (clean & readable)

Faster than traditional loops

Easy to maintain

Pythonic way (used in real projects)

Avoid unnecessary variables

In [ ]:
## General Expression without condition
dict = { key:value for key, value in existing_dict.items()  }

## with condition

dict = { key:value for key, value in existing_dict.items() if contition  }

In [45]:
## example 1

#Number → Square dictionary
numbers = [1, 2, 3, 4]

## expacted_output = {1:1,2:4,3:9,4:16}

sqr_dict = { num:pow(num,2)  for num in numbers}

print(sqr_dict)

{1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
## example 2
#Example 2: Filter values with passed >=40
marks = {"math": 80, "science": 35, "english": 60}

filtered_value = {sub:mark for sub , mark in marks.items() if mark>=40 }

print(filtered_value)

{'math': 80, 'english': 60}

In [50]:
for i in marks.items():
    print(i)

('math', 80)
('science', 35)
('english', 60)

In [51]:
marks.items()

dict_items([('math', 80), ('science', 35), ('english', 60)])

In [53]:
## example 3
# Create dictionary from two lists
keys = ['name', 'age', 'city']
values = ['Alice', 30, 'NYC']

data = { key:value for key in keys for value in values}
print(data)

{'name': 'NYC', 'age': 'NYC', 'city': 'NYC'}

In [56]:
## example 4
# Filter fruits where price > 50 
prices = {'apple': 120, 'banana': 50, 'orange': 80, 'grape': 120}

filtered_fruits = {key:value for key , value in prices.items() if value>50}

print(filtered_fruits)

{'apple': 120, 'orange': 80, 'grape': 120}

In [58]:
for key , value in prices.items():
    if value>50:
        print(key)

apple
orange
grape

In [62]:
filtered_fruits= [ key for key , value in prices.items() if value>50]
print(filtered_fruits)

['apple', 'orange', 'grape']

In [65]:
#example 5
# Apply discount on price by 10%

prices = {'apple': 120, 'banana': 50, 'orange': 80, 'grape': 120}

discounted_price = {key:round(value*0.9,2) for key , value in prices.items() }

print(discounted_price)

{'apple': 108.0, 'banana': 45.0, 'orange': 72.0, 'grape': 108.0}

In [72]:
## example 6
## count the frequency of each words in the given sentence 

text = "Hello ! Welcome to Data Den with Prashant"
text = text.upper()

freq = {word : text.count(word) for word in sorted(set(text)) if word != ' '}

print(freq)

{'!': 1, 'A': 4, 'C': 1, 'D': 2, 'E': 4, 'H': 3, 'I': 1, 'L': 3, 'M': 1, 'N': 2, 'O': 3, 'P': 1, 'R': 1, 'S': 1, 'T': 4, 'W': 2}

In [66]:
text = "Hello ! Welcome to Data Den with Prashant"

In [67]:
set(text)

{' ',
 '!',
 'D',
 'H',
 'P',
 'W',
 'a',
 'c',
 'e',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'w'}

In [69]:
text.count('D')

2

In [74]:
## example 7
# Extract specific fields from nested dictionaries where active is True
users = [
    {'name': 'Alice', 'age': 30, 'active': True},
    {'name': 'Bob', 'age': 25, 'active': False},
    {'name': 'Charlie', 'age': 35, 'active': True}
]

filtered_data = [user for user in users if user['active'] == True]
print(filtered_data)

[{'name': 'Alice', 'age': 30, 'active': True}, {'name': 'Charlie', 'age': 35, 'active': True}]