## Print Function

In [2]:
name = "Prashant Singh"
description = "I am Youtuber and I create educational video"
address = "Red Fort Delhi"
nationality = "Indian"

In [ ]:
print(name)
print(description)
print(address)
print(nationality)

Prashant Singh
I am Youtuber and I create educational video
Red Fort Delhi
Indian

In [7]:
print(name)
print("\n")
print(description)
print("\n")
print(address)
print("\n")
print(nationality)

Prashant Singh


I am Youtuber and I create educational video


Red Fort Delhi


Indian

In [12]:
print(name , end =" $%")
print(description, end= " ")
print(address,end=" ")
print(nationality)

Prashant Singh $%I am Youtuber and I create educational video Red Fort Delhi Indian

In [13]:
name = "Prashant Singh"
description = "I am Youtuber and I create educational video"
address = "Red Fort Delhi"
nationality = "Indian"

In [17]:
print(name,description,address,nationality,sep =" &&&& ")

Prashant Singh &&&& I am Youtuber and I create educational video &&&& Red Fort Delhi &&&& Indian

print by defalut use end="\n"
end = " "

if you want to print all the varibale into one line 

if you want to use only one print for all the variable 
print(v1,v2,v3...vn,sep =" %%% ")


print(v1)
print("\n)
print(v2)

In [25]:
name = "Prashant Singh"
description = "I am Youtuber and I create educational video"
address = "Red Fort Delhi"
nationality = "Indian"
age = "70"

In [ ]:
print("My name is " + name + " I work as " +description+ " i live in " +address+ " I am " +nationality)

My name is Prashant Singh I work as I am Youtuber and I create educational video i live in Red Fort Delhi I am Indian

In [ ]:
print("My name is " + name + " I work as " +description+ " i live in " +address+ " I am " +nationality + "I am " +age +" year old")

My name is Prashant Singh I work as I am Youtuber and I create educational video i live in Red Fort Delhi I am IndianI am 70year old

In [26]:
employee = "Bob"

emp_id = 1256

salary = 70000
Company = "Google"

In [30]:
#Bob is working in Google and his emp_id is 1256 and his salary is 70000


# f sting 
print(f"{employee} is working in {Company} and his emp_id is {emp_id} and his salary is {salary} ")

Bob is working in Google and his emp_id is 1256 and his salary is 70000

In [ ]:
## format

print("{} is working in {} and his emp_id is {} and his salary is {}".format(employee,Company,emp_id,salary))

Bob is working in Google and his emp_id is 1256 and his salary is 70000

In [39]:
## format with index 

print("{a} is working in {b} and his emp_id is {c} and his salary is {d}".format(a=employee,b=Company,c=emp_id,d=salary))

Bob is working in Google and his emp_id is 1256 and his salary is 70000

In [45]:
## % string format

print(" %s is working in %s  and his emp_id is %s  and his salary is  %s "%(employee,Company,emp_id,salary))

 Bob is working in Google  and his emp_id is 1256  and his salary is  70000

1. f - string
2. fomat
3. format index
4. % string format