## Access the third element of the list

In [14]:
l = [ 56,46,23,"Delhi", "AWS","AZURE", 45+7J]

l[2]

23

## check if list is empty

In [19]:
l1 = ["Data Analyst","Data Science","Gen ai"]

l2 = []

if not l2:
    print("List is empty")
else:
    print("List is not empty")

List is empty

## Check if 3rd Element of the list is int

In [22]:
l = [ 56,46,23,"Delhi", "AWS","AZURE", 45+7J]


if type(l[2])== int:
    print("3rd element of the list is int")
else:
     print("3rd element of the list is not int")

3rd element of the list is int

## Consider the length of the list is 10, access elements from 6 to 8.

In [24]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_list[6:9]

[70, 80, 90]

## Reverse a list

In [25]:
l = [ 56,46,23,"Delhi", "AWS","AZURE", 45+7J]


l[::-1]

[(45+7j), 'AZURE', 'AWS', 'Delhi', 23, 46, 56]

## count occurrences of an item

In [29]:
l3=[45,45,67,67,"AWS","AWS","Mlops"]


l3.count("Mlops")

1

## Access elements in nested lists

In [33]:
l4 = [45,45,67,67,"AWS","AWS","Mlops",[34,"Bangalore","Delhi","SQL","Mongodb"]]

l4[-1]

[34, 'Bangalore', 'Delhi', 'SQL', 'Mongodb']

## Print every 2nd Element of the list

In [36]:
l4 = [36,45,67,99,"AWS","AWS","Mlops",[34,"Bangalore","Delhi","SQL","Mongodb"]]


l4[::2]

[36, 67, 'AWS', 'Mlops']

## Print every 2nd Element of the list in the nested list

In [38]:
l4 = [36,45,67,99,"AWS","AWS","Mlops",[34,"Bangalore","Delhi","SQL","Mongodb"]]


l4[-1][::2]

[34, 'Delhi', 'Mongodb']

## flatten nested lists

In [39]:
l4 = [36,45,67,99,"AWS","AWS","Mlops",[34,"Bangalore","Delhi","SQL","Mongodb"]]


nested_list = l4.pop(-1)

In [40]:
l4

[36, 45, 67, 99, 'AWS', 'AWS', 'Mlops']

In [41]:
nested_list

[34, 'Bangalore', 'Delhi', 'SQL', 'Mongodb']

In [43]:
l4.extend(nested_list)

In [44]:
l4

[36,
 45,
 67,
 99,
 'AWS',
 'AWS',
 'Mlops',
 34,
 'Bangalore',
 'Delhi',
 'SQL',
 'Mongodb']