# Tuple
- Tuple is built-in data types of python which is used to store the hetrogenious and homogenious element.
- Tuple in python is an ordered , immutable collection of elements.
- Tuple is similar to list but it is not mutable.(element of the tuple can't changed)
- Many function return tuple to provide the multiple value.

In [3]:
## create a tuple

t = "AWS","Data Science", "Mlops"

In [4]:
type(t)

tuple

In [5]:
t

('AWS', 'Data Science', 'Mlops')

In [6]:
## create empty tuple
t2 =()

In [7]:
type(t2)

tuple

In [8]:
### create tuple with element

t3 = (23,56,78,"GenAI", "llm",56+23j)

In [9]:
type(t3)

tuple

In [14]:
l=[23,56,78,"GenAI", "llm",56+23j]

In [15]:
l[2]

78

In [11]:
type(t3), type(l)

(tuple, list)

In [12]:
## change the element of the list

l[2]="Prashant"

In [13]:
l

[23, 56, 'Prashant', 'GenAI', 'llm', (56+23j)]

In [16]:
t3

(23, 56, 78, 'GenAI', 'llm', (56+23j))

In [17]:
t3[2]

78

In [18]:
t3[2]="Prashant"

TypeError: 'tuple' object does not support item assignment

In [19]:
t3

(23, 56, 78, 'GenAI', 'llm', (56+23j))

In [ ]:
t3[2:5]

(78, 'GenAI', 'llm')

In [22]:
t3[-1]

(56+23j)

In [23]:
t3[-2]

'llm'

In [24]:
t3[2:4]

(78, 'GenAI')

In [25]:
len(t3)

6

In [27]:
t4 = (1,1,2,2,56,78,99,99)

In [28]:
type(t4)

tuple

In [30]:
t4.count(99)

2

In [32]:
sum(t4)

338

In [33]:
## minimum and maximum value of the tuple

min(t4)

1

In [34]:
max(t4)

99

In [36]:
t4

(1, 1, 2, 2, 56, 78, 99, 99)

In [35]:
t4*2

(1, 1, 2, 2, 56, 78, 99, 99, 1, 1, 2, 2, 56, 78, 99, 99)

In [37]:
l = [1, 1, 2, 2, 56, 78, 99, 99]

In [40]:
t5 = ( 56, 35, 99,1,4,2,6)

In [41]:
t5

(56, 35, 99, 1, 4, 2, 6)

In [43]:
x=sorted(t5)

In [44]:
x

[1, 2, 4, 6, 35, 56, 99]

In [45]:
type(x)

list

In [47]:
tuple(sorted(t5,reverse=True))

(99, 56, 35, 6, 4, 2, 1)

In [48]:
t5

(56, 35, 99, 1, 4, 2, 6)

In [49]:
l = list(t5)

In [50]:
l

[56, 35, 99, 1, 4, 2, 6]

In [51]:
type(l)

list

In [52]:
l[2]="Prashant"

In [53]:
l

[56, 35, 'Prashant', 1, 4, 2, 6]

In [54]:
t5 = tuple(l)

In [55]:
type(t5)

tuple

In [56]:
t5

(56, 35, 'Prashant', 1, 4, 2, 6)

In [57]:
t6 = (1,2,3,4,5,["Prashant","AWS","Mlops","Genai"])

In [58]:
type(t6)

tuple

In [63]:
## we know that tuple is immutable can we change the element of the nested list of tuple
t6[-1][1]="AZURE"

In [65]:
t6

(1, 2, 3, 4, 5, ['Prashant', 'AZURE', 'Mlops', 'Genai'])

In [66]:
t5

(56, 35, 'Prashant', 1, 4, 2, 6)

In [67]:
"AWS" in t5

False

In [68]:
"Prashant" in t5

True

In [75]:
t10 = (23,56,78,"Bangalore","Delhi", "Google","AWS","prashant")

In [77]:
## I WANT TO CHECK THE "Prashant" is available in the given tuple or not 


if ("Prashant" in t10) | ("prashant" in t10):
    print("Yes Prashant is available in the given tuple")
else:
    print("Yes Prashant is  not available in the given tuple")

Yes Prashant is available in the given tuple

In [80]:
## concatination of the tuple

t5

(56, 35, 'Prashant', 1, 4, 2, 6)

In [81]:
t4

(1, 1, 2, 2, 56, 78, 99, 99)

In [82]:
t4+t5

(1, 1, 2, 2, 56, 78, 99, 99, 56, 35, 'Prashant', 1, 4, 2, 6)

In [84]:
l

[56, 35, 'Prashant', 1, 4, 2, 6]

In [85]:
t3

(23, 56, 78, 'GenAI', 'llm', (56+23j))

In [86]:
t3+l

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
t3.remove(23)

AttributeError: 'tuple' object has no attribute 'remove'

In [88]:
t3.pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [89]:
del t3

In [90]:
t3

NameError: name 't3' is not defined